node_modules
artifacts/@openzeppelin
artifacts/build-info
artifacts/hardhat

cache

.env
/.idea/
/typechain/
/dist/
/yarn-error.log
/deployments/dev/
/deployments/localhost/
/deployments/proxy/
/typechain-types/
/typechain/
/reports/gas-used-output.color
/coverage
/coverage.json
/.DS_Store
.DS_Store

backup
